name = "cloud-notepad"
main = "src/index.js"
compatibility_date = "2023-10-25"

kv_namespaces = [
  { binding = "NOTES", id = "創建後取回ID" },
  { binding = "SHARE", id = "創建後取回ID" }
]

[vars]
SCN_APP_NAME = "david888 wiki"
SCN_SALT = "random string for salt 例如 25A39F3A-BA6E-4ED3-9E5B-3FDC8A8B2406 "
SCN_SECRET = "random string for jwt secret 例如 10BD2ACC-CD16-4218-A92D-CA808D682CFF"
SCN_ADMIN_PATH = "/admin"
SCN_ADMIN_PW = "admin-password"
SCN_SLUG_LENGTH = "3"
SCN_ENABLE_R2 = "0"
SCN_R2_DOMAIN = "https://your-r2-domain.com"

# [[r2_buckets]]
# binding = "IMAGES"
# bucket_name = "<YOUR_BUCKET_NAME>"